



<section class="container" style="margin: 100px auto">
  <div class="row">
    <div class="col-md-6 home-git">
      

    </div>
    <div sty class="col-md-6 contact-form">
        <h2 class="text-center">SIGN IN</h2>
        <form id="sign-up-form" class="form-signup" name="signup">
          <input type="text" name="" placeholder="Your Phone no" class="form-control">
          <input type="text" name="" placeholder="Your Password" class="form-control">
          
           <input type="submit" name=""  class="btn btn-block btn-primary" value="Sign in">
        </form>
        <button type="button" class="btn btn-block " style="margin: 20px auto; background-color:dodgerblue; color: #fff">Sign in with facebook</button>
    </div>
  </div>
</section>
  

    
  </div> <!-- /container -->
